* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

.item {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

p {
  transform: skewY(35deg);
}
