@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2,
#results {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#results {
  margin-left: 0.3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  border: 1rem #000 solid;
}

.item {
  width: 150px;
  height: 150px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px #222 solid;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.empty {
  background: #fff;
}
